<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 1 - Simple Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="login-section">
        <form class="form-login">
            <h1>Login Form</h1>
            <!-- Username -->
            <div class="form-input-wrapper">
                <label class="input-label" for="username">Username</label>
                <input class="form-input" type="text" id="username">
            </div>

            <!-- Password -->
            <div class="form-input-wrapper">
                <label class="input-label" for="password">Password</label>
                <input class="form-input" type="password" id="password">
            </div>

            <button class="submit-button">Masuk</button>
        </form>
    </section>
</body>
</html>